* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: rgb(255, 255, 255);
}

.header {
	display: flex;
	height: min-content;
	align-items: center;
	background: rgb(255, 255, 255);
}

.navbar__contents {
	width: min-content;
	display: flex;
	height: 7vh;
	left: 13em;
}

.navbar__links {
	margin: 0 2em;
	position: relative;
	left: 6.5em;
}

.navbar__icons {
	/* position: relative; */
	top: 0.5em;
	left: 20em;
	align-items: center;
}

ul {
	list-style: none;
	display: flex;
}

.icons {
	color: black;
}

.navbar__links:hover {
	color: red;
}

.navbar {
	border: 2px red solid;
}
