* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.header {
	/* border: 2px solid brown; */
	display: flex;
	height: min-content;
}

.navbar__contents {
	/* border: 2px solid green; */
	width: min-content;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	height: 7vh;
	top: 40px;
	left: 25em;
}

.navbar__links {
	/* border: 2px solid orange; */
	color: black;
	margin: 0 2em;
	position: relative;
	left: 2em;
	bottom: 0.5em;
}

.navbar__icons {
	/* border: 2px solid blue; */
	position: relative;
	left: 260px;
	bottom: 10px;
	align-items: center;
}

ul {
	list-style: none;
	display: flex;
}

.icons {
	color: black;
	margin: 0 0.5em;
}

.navbar__logo {
	/* border: 2px solid pink; */
	position: relative;
	height: 15vh;
	left: 15px;
}
