#text {
	font-size: 60px;
	font-family: serif;
	font-weight: bold;
}
#heart1,
#heart2,
#heart3,
#heart4,
#heart5,
#heart6,
#heart7,
#heart8,
#heart9,
#heart10,
#heart11,
#heart12 {
	cursor: pointer;
}
#carddes {
	margin-top: -12px;
}
#cardpara {
	color: red;
}
#btnslidone {
	width: 90px;
}
#btnslidtwo {
	width: 90px;
}
#mostslid {
	border-radius: 5px;
	background-color: black;
}
